<mat-card>
    <mat-card-content>
        <mat-list>
            @for (assignment of assignments; track assignment.id) {
                <mat-list-item>
                    <app-assignment-item [assignment]="assignment"></app-assignment-item>
                </mat-list-item>
            } @empty {
                <mat-list-item>
                    No assignments
                </mat-list-item>
            }
        </mat-list>
    </mat-card-content>
</mat-card>

<a
    mat-raised-button
    color="accent"
    routerLink="new"
>
    Ajouter un assignment
</a>
