<mat-card>
    <mat-card-content>
        <mat-selection-list
            [(ngModel)]="selectedAssignments"
            (ngModelChange)="handleSelect()"
            [multiple]="false"
        >
            @for (assignment of assignments; track assignment.id) {
                <mat-list-option [value]="assignment">
                    <app-assignment [assignment]="assignment"></app-assignment>
                </mat-list-option>
            } @empty {
                No assignments
            }
        </mat-selection-list>
    </mat-card-content>
</mat-card>

<button
    mat-raised-button
    color="accent"
    (click)="openForm()"
>
    Ajouter un assignment
</button>
